*{
    margin: 0;
    padding: 0%;
}

body{
    background-color: rgba(0, 0, 0, 0.934);
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: absolute;
    width: 100%;
    height: 150vh;
    padding: 3em 2em 1em 7em;
    background-color: white;
    transform-origin: 0% 0%;
    top: -1em;
    left: 0;
    z-index: 100;
}

.container--active{
    transform: rotate(-20deg);
    transform-origin: 0% 0%;
    top: -1em;
    left: 0em;
}

.blog{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: rgb(66, 62, 62);
}

.title{
    color: black;
}

.menu{
    position: absolute;
    height: 7em;
    width: 7em;
    left: -3em;
    top: -3em;
    border-bottom-right-radius: 50%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.menu:hover{
    cursor: pointer;
}

.lines{
    position: relative;
    width: 100%;
    height: 100%;
}

.line{
    width: 2em;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 1.5em;
}

.line:nth-child(1){
    bottom: 3em;
}

.line:nth-child(2){
    bottom: 2.41em;

}

.line:nth-child(3){
    bottom: 1.8em;
}

.line--active{
    bottom: 2.41em !important;
    transform-origin: center center;
}

.line--active:nth-child(1){
    transform: rotate(45deg);
}

.line--active:nth-child(2){
    transform: rotate(-45deg);
}

.line--active:nth-child(3){
    display: none;
}

nav{
    position: absolute;
    left: 2em;
    top: 70vh;
    width: 5em;
    z-index: 1;
}

.nav--links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.link{
    padding: 0.2em 1.5em;
    background-color: #b4b2b2c0;
    border: none;
}

.link{
    color:black;
    text-decoration: none;
    text-transform: capitalize;
}

.link:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    box-shadow: 0px 0px 3px 3px white;
}